#registerForm{
	border:1px solid #1678be;
	width: 980px;
	height:644px;
	margin:0 auto;
	margin-top:2%;
}

.layout-reg{
	width:100%;
	height:100%;
}

.lay-hd {
    height: 32px;
    line-height: 30px;
    color: #e5f8ff;
    padding-left: 20px;
    font-size: 14px;
    position: relative;
    background-color: #1678be;
}

.lay-bd{
	width:960px;
	height:560px;
	background: #fff;
    padding: 0 10px;
    position: relative;
}

.reg-list li{
	display: list-item;
    height: 30px;
    line-height: 30px;
    margin-bottom: 5px;
    list-style: none;
    text-align: center;
    display: flex;
    margin-left:20%;

}

.label{ 
	width:20%;

}

.required {
    font-size: 16px;
    color: #f00;
    font-family: Tahoma;
    vertical-align: middle;
    margin-right: 2px;
    font-weight: 400;
}

.r-txt{

	width:22%;
	float:left;

}

.hint{
    display: inline-block;
    width: 180px;
    height: 25px;
    position: absolute;
    margin-top: -3%;
    margin-left: 13%;
}
.r-txt a{
	color: #07f;
    text-decoration: none;
}

.inptxt {
    height: 18px;
    line-height: 18px;
    border: 1px solid #cfcdc7;
    background: #fff;
    color: #999;
    padding: 5px 0 5px 5px;
}

.inptxt_w200{
    color:rgb(51, 51, 51);
    width: 202px;
    height: 25px
}



.tips{
  width:45%;
  float: left;
  display: inline;
  margin-left: 20px;
  color: #FF7F00;
  height: 30px;
  line-height: 30px;

}

.tips img{
    height: 35%;
    margin-left: -37%;
}

.w200 {
    width: 195px;
    height:65%;
}

.w200sel {
    width: 202px;
    height:95%;
}


.nextBtn {
    height: 30px;
    padding: 10px 0;
    background-color: #fb7403;
    width: 122px;
    height: 18px;
    text-align: center;
    line-height: 20px;
    margin:50px;
    margin-left: 43%;
}

.nextBtn a {
    margin: 0 10px;
    text-decoration: none;

}

